body{
    background-color: $bg-color-light-gray;
    padding-bottom: 15rem;
}

footer{
    background-color:#eeeeee; 
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

td{
    width: 140px !important;
}

nav{
    height: 65px !important;
}

.main-nav{
    background-color: $primary-color-dark;
}
.margin-0{
    margin:0;
}

.margin-top-1{
    margin-top:1rem !important;
}

.margin-top-2{
    margin-top:2rem;
}

.margin-top-5{
    margin-top:5rem;
} 

.padding-l-r-1{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.padding-l-r-2{
    padding-left: 2rem;
    padding-right: 2rem;
}

.line-height-16px{
    line-height: 16px;
}

.uppercase{
    text-transform: uppercase;
}

.the-content-article p{
    font-size: 18px;
    text-align: center !important;
    margin-top : 4rem;
}

.fis-img-wrapper img{
    display: block;
    margin:0 auto;
}

.card-custom{
    margin-top: 2rem;
    height: 420px;
    margin-left: 1rem;
    overflow-y: auto;
}

.card-description p {
    text-align: center;
}

.question-wrapper * {
    text-align: left;
}

input[type="submit"]{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;

    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;

    border: none;
    height: 37px;
    width: 200px;
}


.wp-video{
    display: block;
    margin: 0 auto;
}


.margin-right-1{
    margin-right: 1rem !important;
}

.margin-top-05{
    margin-top:0.5rem;
}

